.image-logo {
  margin: auto;
  margin-top: 60px;
  border: solid 10px #f6a6b9;
  padding: 20px;
  width: 35%;
}
.logo-header {
  width: 100%;
}

.profile_pic {
  border: solid 10px #f6a6b9;
  border-radius: 300px;
  width: 300px;
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  padding-top: 50px;
  width: 70%;
}
.sub-grid {
  padding: 20px;
  padding-top: 10px;
}
.container {
  margin: auto;
  width: 70%;
  padding-top: 20px;
}
@media only screen and (max-width: 700px) {
  .grid {
    display: inline;
  }
  .image-logo {
    margin-top: 30px;
    width: 90%;
  }
  .profile_pic {
    padding: 20px;
    width: 200px;
  }
  .container {
    width: 90%;
  }
}
