@import "~antd/dist/antd.css";

html,
body {
  /* #ff59c7; */
  background-image: url("./asset/bg.png");
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  color: #f6a6b9;
}
a {
  color: #f6a6b9;
}
.jennie {
  float: right;
  display: inline;
  position: fixed;
  right: 0px;
  opacity: 0.3;
  bottom: 0px;
  width: 200px;
}

a:hover {
  color: #ee7692;
}
